/.idea
/gear/apps/Element/
/gear/apps/Test/
/gear/apps/Mifs/
/gear/apps/Oa/
/gear/runtime/
/gear/src/plugins/envCheck/lock
/gear/src/plugins/arrayDb/db/
/gear/src/plugins/encrypt/config.php
/gear/apps/Gear/others/codeTest.php
/public/apps/mifs/
/public/apps/Oa/
/public/apps/Temp/
/public/common/element-ui/
/public/apps/Element/
/public/common/simplemde-markdown-editor/
/public/plugins/ueditor/upload/
